<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Orga"
        tools:targetApi="31"
        android:name="app.david.orgue.MyApplication"
        >
        <activity
            android:name="app.david.orgue.historia.InformacioActivity"
            android:exported="false"
            android:label="@string/title_activity_informacio"
            android:theme="@style/Theme.Orga.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name="app.david.orgue.Agraiments"
            android:exported="false"
            android:label="@string/title_activity_informacio"
            android:theme="@style/Theme.Orga.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="app.david.orgue.MainActivity"
            android:exported="true"

            android:theme="@style/Theme.Orga.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name="app.david.orgue.jocs.jocUn.JocUnActivity"
            android:exported="true"
            android:theme="@style/Theme.Orga.NoActionBar">


            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="app.david.orgue.jocs.jocDos.JocDosActivity"
            android:exported="true"
            android:theme="@style/Theme.Orga.NoActionBar">


            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="app.david.orgue.jocs.jocTres.JocTresActivity"
            android:exported="true"
            android:theme="@style/Theme.Orga.NoActionBar">


            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="app.david.orgue.jocs.jocQuatre.JocQuatreActivity"
            android:exported="true"
            android:theme="@style/Theme.Orga.NoActionBar">

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="app.david.orgue.jocs.jocQuatre.JocQuatreUnActivity"
            android:exported="true"
            android:theme="@style/Theme.Orga.NoActionBar">

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="app.david.orgue.jocs.jocCinc.JocCincActivity"
            android:exported="true"
            android:theme="@style/Theme.Orga.NoActionBar">

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="app.david.orgue.jocs.jocCinc.JocCincUnActivity"
            android:exported="true"
            android:theme="@style/Theme.Orga.NoActionBar">

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="app.david.orgue.jocs.jocSet.JocSetActivity"
            android:exported="true"
            android:theme="@style/Theme.Orga.NoActionBar">

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="app.david.orgue.jocs.jocSet.JocSetUnActivity"
            android:exported="true"
            android:theme="@style/Theme.Orga.NoActionBar">

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="app.david.orgue.jocs.jocVuit.JocVuitActivity"
            android:exported="true"
            android:theme="@style/Theme.Orga.NoActionBar">

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="app.david.orgue.jocs.jocVuit.JocVuitUnActivity"
            android:exported="true"
            android:theme="@style/Theme.Orga.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="app.david.orgue.jocs.jocSis.JocSisActivity"
            android:exported="true"
            android:theme="@style/Theme.Orga.NoActionBar">

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="app.david.orgue.historia.InfoActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert"
            >
        </activity>

        <activity
            android:name="app.david.orgue.historia.InformacioJocActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert"
            >
        </activity>

        <activity
            android:name="app.david.orgue.historia.ImageActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert"
            >
        </activity>

        <activity
            android:name="app.david.orgue.historia.InformacioActivit"
            android:exported="true"
            android:theme="@style/Theme.Orga.NoActionBar">

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="app.david.orgue.historia.MostrarInformacio"
            android:exported="true"
            android:theme="@style/Theme.Orga.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="app.david.orgue.puntuacio.PuntuacioActivity"
            android:exported="true"
            android:theme="@style/Theme.Orga.NoActionBar">

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name="app.david.orgue.jocs.FinalActivitu"
            android:exported="true"
            android:theme="@style/Theme.Orga.NoActionBar">

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name="app.david.orgue.preferencias.PreferenciasActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert"
            android:windowNoTitle="true"
            >

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="app.david.orgue.preferencias.MusicaActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert"
            android:windowNoTitle="true"
            >

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="app.david.orgue.jocs.jocNou.JocNouActivity"
            android:exported="true"
            android:windowNoTitle="true"
            android:theme="@style/Theme.Orga.NoActionBar"
            >

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>